<div class="pb-2 mt-4 mb-2 border-bottom">
      <h1> Analyse your data over time </h1>
</div>

<form>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Period for the analysis: </legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
          <label class="form-check-label" for="gridRadios1">
            Year
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
            Month
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
          <label class="form-check-label" for="gridRadios3">
            Week
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
          <label class="form-check-label" for="gridRadios4">
            Day
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group row">
    <div class="col-sm-10">
      <button class="btn btn-light mr-3"
          (click)="restart()">Restart</button>
      <!-- <button type="submit" class="btn btn-primary">Start</button> -->
      <button type="submit" class="btn btn-light mr-3"
        [disabled]="!!interval"
        (click)="start()">Start</button>
      <button class="btn btn-light"
      [disabled]="!interval"
      (click)="pause()">Pause</button>
    </div>
  </div>
</form>



<div class="m-3">
  <button class="btn btn-light mr-3"
          (click)="restart()">Restart</button>
  <button class="btn btn-light mr-3"
          [disabled]="!!interval"
          (click)="start()">Start</button>
  <button class="btn btn-light"
          [disabled]="!interval"
          (click)="pause()">Pause</button>
</div>

<div *ngIf="data"
     class="position-relative overflow-hidden"
     [style.height.px]="barsNumber * height">

  <ng-container *ngFor="let entry of data | keyvalue; trackBy: trackByFn">
    <ng-container *ngIf="entry.value.timeserie[time] as instant">

      <div class="w-100"
           style="position: absolute; top: 0; left:0; transition: transform 1000ms ease"
           [style.z-index]="11 - instant.ranking"
           [style.transform]="'translateY(' + instant.ranking * height + 'px)'">

        <app-single-bar [label]="entry.value.label"
                        [color]="entry.value.color"
                        [conf]="instant"
                        [height]="height"
                        [width]="instant.purcents"></app-single-bar>

      </div>

    </ng-container>
  </ng-container>

</div>